<h1>Página Personal</h1>

@model Personal

@Html.LabelFor(m=>m.Name,  "Nombre: ") @Model.Name 

@Html.LabelFor(m=>m.Lastname,  "Apellidos: ") @Model.Lastname 

@Html.LabelFor(m=>m.Age,  "Edad: ") @Model.Age 